<nav class="navbar navbar-dark bg-dark text-center">
    <a class="navbar-brand" href="/">Therapie Wochen Berechner</a>
</nav>

<div class="container text-center">
    <div class="row element">
        <div class="col">
            <div class="subtitle">Start-Datum der Therapie</div>

            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="pickerStart" [formControl]="startDate" (dateChange)="calculateWeekNumber()">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row element">
        <div class="col">
            <div class="subtitle">Datum der Auswertung</div>

            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="pickerCurrent" [formControl]="currentDate" (dateChange)="calculateWeekNumber()">
                <mat-datepicker-toggle matSuffix [for]="pickerCurrent"></mat-datepicker-toggle>
                <mat-datepicker #pickerCurrent></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row element">
        <div class="col d-flex justify-content-center">
            <div *ngIf="startWeek > 0 && currentWeek > 0" class="calculation-result">
                <div class="subtitle alert alert-secondary">Berechnete Woche: {{result}}</div>
                <br/>
                KW Beginn Therapie: {{startWeek}}<br/>
                KW Aktuell: {{currentWeek}}
            </div>
        </div>
    </div>


</div>
